body {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background: linear-gradient(-45deg, #3a1c71, #d76d77, #ffaf7b);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

.quotatious {
  text-align: center;
  width:19rem;
}